*{
    padding: 0px;
    margin: 0px;
    font-family: arial;
    border:border-box;
    
}
.navbar{
    height: 60px;
 background-color: hwb(300 10% 89%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height:50px;
    width: 100px;

}
.logo{
    background-image:url("images2/Amazon-Logo.webp");
    height:50px;
    width: 100px;
    background-size:cover;
}
.border{
    border:2px solid transparent;
}
.border:hover{  
    border:0.5px solid white;
}
/**  box2   **/
.add-first{
    color:#cccc;
    font-size:0.85rem;
    margin-left: 15px;

}
.add-second{
    font-size:1rem;
    margin-left: 3px;
}
.add-icon{
  display: flex; 
  align-items: center; 
}
/** **/
.nav-serach{
    display: flex;
    background-color:pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.Serach-select{
    width: 50px;
    background-color: #e6e0e6;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.Serach-input{
    width:620px;
    font-size: 1 rem;
   border: none;
}
.Serach-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 208, 0);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color:#1111
}
.nav-serach:hover{
    border: 2px solid orange;

}
/**   box5 **/
span{
   font-size: 0.7rem;
}
.navsecond{
    font-size:  0.85rem;
    font-weight: 700;
}
/**   box6 **/
.navcard i{
    font-size: 25px;

}
.navcard{
     font-size: 0.85rem;
     font-weight: 100;
}
/**  panal  **/
.panal{
    height: 40px;
    background-color: rgb(54, 46, 46);
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center
}
.panal-oops p {
      display: inline ;
      margin-left: 30px;
}
.panal-oops{
     width: 70%;
     font-size: 0.85rem;
}
.panal-Deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/**  Hero Section **/
.hero-section{
    background-image: url("images2/dhoni.photo.jpg");
    height: 350px;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
    display: flex;
}
.hero-msg{
       background-color: aliceblue;
       height: 40px;
       justify-content: center;
       display: flex;
       font-size: 0.85rem;
       align-items: center;
       width: 80%;
       margin-bottom:25px;
}
.hero-msg a {
    color: red;
}
/**    shop section **/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e9e2e2;

}
.box {
    border: 0px solid black;
    height: 400px;
    width: 23%;
    padding: 20px 0px 15px;
    background-color: white;
    margin-top: 15px;
}
.box-img{
      height: 300px;
      background-size:cover;
      margin-top: 1rem;
      margin-bottom: 1rem;
}
.box-content  { 
    margin-left: 10px;
    margin-right: 10px;

}
.box-content p {
    color: orange;
}
/** Footer**/
Footer{
    margin-top: 15px;
}
.Footer-panal{
    background-color:rgb(54, 46, 46 );
    height: 50px;
    color: white;
    align-items: center;
    display: flex;
    justify-content:center;
    font-size: 0.85rem;
}
.Footer-second{
      background-color: black;
      height: 300px;
      color: white;
      justify-content: space-evenly;
      display: flex;
    
}
ul {
       margin-top: 20px;
   }

ul a {
    display:block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: white;
}
.Footer-last{
     background-color:rgb(54, 46, 46 ) ;
     height: 70px;
     align-items: center;
     justify-content: center;
      
      display: flex;
      color: white;
      text-size-adjust: 15px;
      border-top: 0.5px solid white;

}